@value colors: '../../app/colors.css';
@value white,black,blue from colors;
.Button {
  background-image: linear-gradient(to right, blue 0%, black 100%);
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.8em 1.4em;
  text-align: center;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-image: linear-gradient(to left, blue 0%, black 100%);
  }
}
